.main-div-container-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 954px;
}

.table-container {

  .table-container__cell {
      display: flex;
      align-items: center;
      gap: 15px;
    .cell-name-color {
      width: 4px;
      height: 70px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px ;
    }
    .td-content {
      width: 389px;
      height: 40px;
    }
  }
}

