
.finalized-page {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .finalized-page__name{
    width: 506px;
    height: 20px;
    top: 85px;
    left: 48px;
    font-family: Montserrat, sans-serif;;
    font-weight: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: #222222;
  }
}

